name: build
on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: build
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: cargo build
